.Rproj.user
.Rhistory
.RData
.DS_Store

model/a.out

*.aux
*.log
*synctex.gz
*.dvi

documentation/GavsDocumentation.out

model/test.f90
*.orig
/model/ecohydModel.out
*.tex.bak
*~
*.blg
/documentation/#GavansDocumentation.bib
/evaluation/knitr/overview/figure
