.Rproj.user
.Rhistory
.RData
.DS_Store
Application.aux
Application.log
GavsDocumentation.bbl
GavsDocumentation.idx
GavsDocumentation.ilg
GavsDocumentation.ind
GavsDocumentation.lof
GavsDocumentation.log
GavsDocumentation.lol
GavsDocumentation.lot
GavsDocumentation.nlo
GavsDocumentation.pdfsync
GavsDocumentation.synctex.gz
GavsDocumentation.toc
Implementation.aux
Implementation.log
Theory.aux
knitr.aux
test
